Button{
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-font-size: 20;
}

GridPane{
    -fx-padding: 5;
}
#outputLabel{
    -fx-pref-height: 80px;
    -fx-font-size: 22;
    -fx-text-alignment: Right;
    -fx-max-width: Infinity;
    -fx-padding: 5;
}
